PyPika-0.48.9
annotated-types-0.5.0
anyio-3.7.1
backoff-2.2.1
bcrypt-4.0.1
chroma-hnswlib-0.7.3
chromadb-0.4.13
click-8.1.7
coloredlogs-15.0.1
fastapi-0.103.2
flatbuffers-23.5.26
fsspec-2023.9.2
h11-0.14.0
httptools-0.6.0
huggingface-hub-0.16.4
humanfriendly-10.0
importlib-resources-6.1.0
monotonic-1.6
onnxruntime-1.16.0
posthog-3.0.2
protobuf-4.24.3
pulsar-client-3.3.0
pydantic-2.4.2
pydantic_core-2.10.1
python-dotenv-1.0.0
starlette-0.27.0
tokenizers-0.14.0
tqdm-4.66.1
typer-0.9.0
uvicorn-0.23.2
uvloop-0.17.0
watchfiles-0.20.0
websockets-11.0.3
